<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Our Internet Shop</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Category", "Main", "Main", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav">
                    @{
        string _role = Common.Constants.COOKIE_ROLE;
        string _moder = Common.Constants.MODER;
        string _admin = Common.Constants.ADMIN;
        string _user = Common.Constants.USER;
                    }
                    @if (Request.Cookies[_role] == null)
    {
                <li class="navbar-right">@Html.ActionLink("Log In", "LogIn", "Authorize", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li class="navbar-right">@Html.ActionLink("Register", "Register", "Authorize", new { area = "" }, new { @class = "navbar-brand" })</li>
}
else if (Request.Cookies[_role].Value == _user || Request.Cookies[_role].Value == _moder)
{
                <li class="navbar-right">@Html.ActionLink("To Orders", "Order", "Order", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li class="navbar-right">@Html.ActionLink("Log Out", "LogOut", "Authorize", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li class="navbar-right">@Html.ActionLink("Profile", "User", "Profile", new { area = "" }, new { @class = "navbar-brand" })</li>
}
else if (Request.Cookies[_role].Value == _admin)
{
                <li class="navbar-right">@Html.ActionLink("All Orders", "Orders", "Administrate", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li class="navbar-right">@Html.ActionLink("Log Out", "LogOut", "Authorize", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li class="navbar-right">@Html.ActionLink("All Users", "AllUsers", "Administrate", new { area = "" }, new { @class = "navbar-brand" })</li>
}
else
{
Response.Cookies.Clear();

                <li class="navbar-right">@Html.ActionLink("Log In", "LogIn", "Authorize", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li class="navbar-right">@Html.ActionLink("Registr", "Register", "Authorize", new { area = "" }, new { @class = "navbar-brand" })</li>
}
                    @using (Html.BeginForm("Result", "Search"))
                    {
                <li class="navbar-right">
                    <input type="text" name="search" class = "navbar-text" />
                </li>
                <li class="navbar-right">
                    <input type="submit" value="Find" class="btn btn-default navbar-btn" />
                </li>
                    }


                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Our Internet Shop</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>