@model Common.Product

@{
    ViewBag.Title = "AboutProduct";
    string _role = Common.Constants.COOKIE_ROLE;
    string _moder = Common.Constants.MODER;
    string _admin = Common.Constants.ADMIN;
}

<h2>AboutProduct</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

    </dl>
</div>
<p>
    @if(Request.Cookies[_role] != null)
    {
        if(Request.Cookies[_role].Value == _moder || Request.Cookies[_role].Value == _admin)
        {
             @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId });
        }
    }
       @Html.ActionLink("Back to Products", "Main", new { id = Model.CategoryId})
</p>
