@model IEnumerable<Common.Product>


@{
    string _role = Common.Constants.COOKIE_ROLE;
    string _moder = Common.Constants.MODER;
    string _admin = Common.Constants.ADMIN;
    string _user = Common.Constants.USER;
}

@if (Request.Cookies[_role] != null)
{
    if (Request.Cookies[_role].Value == _admin || Request.Cookies[_role].Value == _moder)
    {
        <p>@Html.ActionLink("Create New", "CreateProducts", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default" })</p>
    }
}


@ViewBag.Message

<table class="table">
    <tr>
        <th></th>
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.About)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="/Content/Products/@item.ProductId@item.ImggType" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>

            @using (Html.BeginForm())
            {
                if (Request.Cookies[_role] != null)
                {
                    if (Request.Cookies[_role].Value == _moder)
                    {
                        <td>
                            @Html.ActionLink("About", "AboutProduct", new { id = item.ProductId }, new { @class = "btn btn-default" }) |
                            @Html.ActionLink("Edit", "EditProduct", new { id = item.ProductId }, new { @class = "btn btn-default" }) |
                            @Html.ActionLink("Delete", "DelProduct", new { id = item.ProductId }, new { @class = "btn btn-default" })
                        </td>
                        <td>
                            <input type="submit" value="Добавить в Корзину" class="btn btn-default" />
                            <input type="hidden" name="id" value=@item.ProductId />
                            Count
                            <input type="number" name="count" value="1" />
                        </td>
                    }
                    else if(Request.Cookies[_role].Value == _admin)
                    {
                        
                        <td>
                            @Html.ActionLink("About", "AboutProduct", new { id = item.ProductId }, new { @class = "btn btn-default" }) |
                            @Html.ActionLink("Edit", "EditProduct", new { id = item.ProductId }, new { @class = "btn btn-default" }) |
                            @Html.ActionLink("Delete", "DelProduct", new { id = item.ProductId }, new { @class = "btn btn-default" })
                        </td>
                    }
                    else if (Request.Cookies[_role].Value == _user)
                    {
                        <td>
                            @Html.ActionLink("About", "AboutProduct", new { id = item.ProductId }, new { @class = "btn btn-default" })
                        </td>
                        <td>
                            <input type="submit" value="Добавить в Корзину" class="btn btn-default"/>
                            <input type="hidden" name="id" value=@item.ProductId />
                            Count
                            <input type="number" name="count" value="1" />
                        </td>
                    }
                }
                else
                {
                    <td>@Html.ActionLink("About", "AboutProduct", new { id = item.ProductId }, new { @class = "btn btn-default" })</td>
                }
            }

        </tr>
    }

</table>
