@model IEnumerable<Common.Category>


@{ 
    string _role = Common.Constants.COOKIE_ROLE;
    string _moder = Common.Constants.MODER;
    string _admin = Common.Constants.ADMIN;
}
    @if (Request.Cookies[_role] != null)
    {
        if (Request.Cookies[_role].Value == _admin || Request.Cookies[_role].Value == _moder)
        {
            <p> @Html.ActionLink("Create New Categories", "CreateCategory", new { id = ViewContext.RouteData.Values["id"] })</p>
        }
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)            
        </td>
        <td
            >@Html.ActionLink("To Products", "Main", "Products", new { id = item.CategoryId }, new { })
        </td>
        <td>
            @if(Request.Cookies[_role] != null)
            {
                if(Request.Cookies[_role].Value == _moder || Request.Cookies[_role].Value == _admin)
                {
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
            </p>

                }
            }
        </td>
    </tr>
}

</table>
