@model Common.Product

@{
    ViewBag.Title = "About Product";
}

<h2>About Product</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <td>
            <img src="/Content/Products/@Model.ProductId@Model.ImggType" />
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Orders", "Order", new { }, new { @class = "btn btn-default" })
</p>
