@model IEnumerable<Common.Order>

@{
    ViewBag.Title = "Order";
}

<h2>Orders</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            Cost
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="/Content/Products/@item.ProductId@item.Product.ImggType" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("About", "AboutProduct", new { id = item.Product.ProductId }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>

<p>
    <a href="@Request.UrlReferrer.AbsolutePath">Back</a>
</p>
